.offset-lg-1 {
  margin-left: 4.333333% !important;
}
.img-fluid{
  margin-top: 10px !important;
}
.text-left{
  margin-bottom: 125px !important;
}
section{
  background-color: black;
}
.row h1{
  color: red;
text-decoration: underline;
font-style: italic;
}
img {
  display: flex;
  max-width: 100%;
  user-select: none; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw; }

.container {
  position: relative;
  max-width: 1152px;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 6px 24px #221625; }

.hotspots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }
  .hotspots .hotspot {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; }
    .hotspots .hotspot:nth-child(1) .trigger {
      top: 77%;
      left: 50%; }
    .hotspots .hotspot .trigger {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      height: 6%;
      background: #bd002c;
      color: #EEE6F0;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      pointer-events: all;
      box-shadow: 0 0 0 0 #bd002c;
      transition: box-shadow .4s;
      user-select: none; }
      .hotspots .hotspot .trigger:hover {
        box-shadow: 0 0 0 8px rgba(255, 34, 85, 0.5); }

.uk-card{
  padding: 0;
  background:black;
}
.lookbook-gallery .a11y-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.lookbook-gallery .a11y-only.focusable:active, .lookbook-gallery .a11y-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.lookbook-gallery img {
  min-width: 6em;
  max-width: 100%;
  display: block;
  background: #ddd;
}
.lookbook-gallery .model {
  margin: 0;
  position: relative;
}
.lookbook-gallery .model .model--caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0.35em 1.2em 0.25em 0.9em;
  justify-self: start;
}
.lookbook-gallery .model .model--caption .model-hed {
  font-size: 1.25em;
  margin: 0.5em 0;
  font-family: Lora, serif;
}
.lookbook-gallery .model .model--caption .model-hed a {
  color: #fff;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}
.lookbook-gallery .model .model--caption p {
  font-size: 0.9375em;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
  margin: 0 0 0.5em 0;
}
@media (min-width: 45em) {
  .lookbook-gallery .lookbook-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .lookbook-gallery .model {
    flex: 47.5%;
    margin: 0.5%;
  }
}
@media (min-width: 65em) {
  .lookbook-gallery .model {
    flex: 24.25% 0;
    margin: 0.25%;
  }
  @supports (display: grid) {
    .lookbook-gallery .lookbook-grid {
      display: grid;
      grid-gap: 0.5em;
      grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
    .lookbook-gallery .model {
      margin: 0;
    }
    .lookbook-gallery .model:nth-of-type(4n-1) {
      background-color:white ;
      grid-column-end: span 2;
    }
  }
}
.model-hed{
  text-decoration: underline;
  color: white;
}
h3{
  margin-left: 10px;
  font-size: 24px !important;
}
h1{
  text-align: center;
}
h2,h3{
  color: #fff;
}