@import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");

.offset-lg-1 {
  margin-left: 4.333333% !important;
}
.img-fluid{
  margin-top: 10px !important;
}
.text-left{
  margin-bottom: 125px !important;
}
section{
  background-color: black;
}
.row h1{
  color: red;
text-decoration: underline;
font-style: italic;
}
img {
  display: flex;
  max-width: 100%;
  user-select: none; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw; }

.container {
  margin-top: 15px;
  position: relative;
  max-width: 1152px;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
  box-shadow:  0 10px 24px #db1818; }
.MYO{
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow:  0 6px 15px #e5e0e0 !important; 
}
.hotspots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }
  .hotspots .hotspot {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; }
    .hotspots .hotspot:nth-child(1) .trigger {
      top: 77%;
      left: 50%; }
    .hotspots .hotspot .trigger {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      height: 6%;
      background: #bd002c;
      color: #EEE6F0;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      pointer-events: all;
      box-shadow: 0 0 0 0 #bd002c;
      transition: box-shadow .4s;
      user-select: none; }
      .hotspots .hotspot .trigger:hover {
        box-shadow: 0 0 0 8px rgba(255, 34, 85, 0.5); }

.uk-card{
  padding: 0;
  background:black;
}
.lookbook-gallery .a11y-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.lookbook-gallery .a11y-only.focusable:active, .lookbook-gallery .a11y-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.lookbook-gallery img {
  min-width: 6em;
  max-width: 100%;
  display: block;
  background: #ddd;
}
.lookbook-gallery .model {
  margin: 0;
  position: relative;
}
.lookbook-gallery .model .model--caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0.35em 1.2em 0.25em 0.9em;
  justify-self: start;
}
.lookbook-gallery .model .model--caption .model-hed {
  font-size: 1.25em;
  margin: 0.5em 0;
  font-family: Lora, serif;
}
.lookbook-gallery .model .model--caption .model-hed a {
  color: #fff;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}
.lookbook-gallery .model .model--caption p {
  font-size: 0.9375em;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
  margin: 0 0 0.5em 0;
}
/* @media  { */
  .lookbook-gallery .lookbook-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .lookbook-gallery .model {
    flex: 47.5%;
    margin: 0.5%;
  }

@media (min-width: 65em) {
  .lookbook-gallery .model {
    flex: 24.25% 0;
    margin: 0.25%;
  }
  @supports (display: grid) {
    .lookbook-gallery .lookbook-grid {
      display: grid;
      grid-gap: 0.5em;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
    .lookbook-gallery .model {
      margin: 0;
    }
    .lookbook-gallery .model:nth-of-type(4n-1) {
      background-color:white ;
      grid-column-end: span 2;
    }
  }
}
.model-hed{
  text-decoration: underline;
  color: white;
}
h3{
  margin-left: 10px;
  font-size: 24px !important;
}
h1{
  text-align: center;
}
h2,h3{
  color: #fff;
}

.notes {
  margin: auto;
  padding: 2rem 1.2rem 0;
  max-width: 35rem;
  font-family: Open Sans, sans serif;
  text-align: center;
}
.container {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.lg-container {
  max-width: 550px;
  position: relative;
  margin: 1rem;
  padding: 0;
}
.lg-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.lg-hotspot {
  position: absolute;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  z-index: 0;
  cursor: pointer;
}
.lg-hotspot:hover .lg-hotspot__button, .lg-hotspot:active .lg-hotspot__button {
  border-color: #ff774c;
}
.lg-hotspot:hover .lg-hotspot__button:after, .lg-hotspot:active .lg-hotspot__button:after {
  background-color: #ff774c;
}
.lg-hotspot--selected {
  z-index: 999;
}
.lg-hotspot--selected .lg-hotspot__label {
  opacity: 1;
}
.lg-hotspot__button {
  height: 38px;
  width: 38px;
  padding: 0px;
  border-radius: 100%;
  border: 1px solid #ff0000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  animation: button-pulse 7s ease-in-out infinite;
}
.lg-hotspot__button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  content: "";
  display: block;
  height: 16.8px;
  width: 16.8px;
  border-radius: 100%;
  border: 3px solid white;
  background-color:#ff0000;
  transition: border-color 1s linear;
}
.lg-hotspot__label {
  position: absolute;
  padding: 0 0 1.1em 0;
  width: 16em;
  max-width: 50vw;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
  font-size: 14.5px;
  line-height: 1.45em;
  z-index: -1;
  pointer-events: none;
  border-radius: 2px;
  user-select: none;
  opacity: 0;
  transition: all 0.1s linear;
}
.lg-hotspot__label h4 {
  margin: 0;
  padding: 0.65em 24px;
  background-color: #555;
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: white;
  border-radius: 2px 2px 0 0;
}
.lg-hotspot__label p {
  margin: 0;
  padding: 1.1em 24px 0 24px;
  color: #333;
}
.lg-hotspot--top-left .lg-hotspot__label {
  top: 24px;
  left: 24px;
}
.lg-hotspot--top-right .lg-hotspot__label {
  top: 24px;
  right: 24px;
}
@keyframes button-pulse {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  40% {
    transform: scale(1.15, 1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.height-100 {
  min-height: 100px;
}

h1.styled {
  letter-spacing: .1rem;
  font-size: 2rem;
  color: #183C77;
}
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.jt {
  position: relative;
  font-size: 20vmin;
  color: white;
  word-spacing: 10px !important;
  letter-spacing: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  font-display: swap;
  text-shadow: 0 0 20px rgb(255, 38, 0);
}

.jt__row {
  display: block;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2) ;
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3) ;
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4) ;
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5) ;
}

@keyframes moveIn {
  50%, 100% { 
    transform: translateY(0em)
  }
  0%   { 
  opacity: 0; 
  filter: blur(10px);
  
  }
  100% { 
  opacity: 1; 
  filter: blur(0px);
  }
}
.cbody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url();
}


.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
}
.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
}

* { box-sizing: border-box }
.W{
  text-transform: uppercase;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  position: relative;
  color: white !important;
}

.W:before{
  content: attr(data-text);
  position: absolute;
  background: red;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100% 90%;
  line-height: 0.9;
  clip-path: ellipse(120px 120px at -2.54% -9.25%);
  animation: swing 5s infinite;
  animation-direction: alternate;
}

@keyframes swing{
  0%{
     -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
  }
  50%{
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);

  }
  100%{
     -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
  }
}


.bodyss {
  text-align:center;
  background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color:#555;
  font-family:'Roboto';
  font-weight:300;
  font-size:32px;
  padding-top:40vh;
  height:100vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

.diiv {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.diiv:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

.diiv:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.diiv:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


.pp {
  font-size:12px;
  color:#999;
  margin-top:200px;
}